body{
    background-color: #b91450;
}

label{
    color: #b91450;
    font-weight: bold;
}

#input-ticket input{
    border-color: #b91450;
}

#input-ticket .ms_button{
    background-color: lightgrey;
    color: #b91450;
    font-weight: bold;
}